<div class="hero">
  <br />
 <div class="frosty col-10 offset-1 text-center">
   <br />
<h1>The Wonderful World of Dogs</h1>
 <br />
  <h2> Fabulous Dog Photos!</h2>
   <br />
</div>  
</div>